$color-primary-100: #dad0f2;
$color-primary-300: #714cce;
$color-primary-400: #602CE8;
$color-primary: #5222d0;
$color-primary-600: #451ebc;
$color-grey: #242435;
$color-grey-100: #d1d1d9;
$color-grey-200: #8d8da7;
$color-grey-300: #4b4b62;
$color-grey-400: #3a3a4f;
$color-grey-500: #313147;
$color-grey-600: #242435;
$color-grey-700: #191926;
$color-grey-800: #101019;
$color-grey-900: #09090e;
$color-grey-950: #020203;
