body {
  background: #f9f9f9;
  min-height: 100vh;
}

.container {
  width: 100%;
  padding: 0 2.4rem;
  max-width: 1300px;
  margin: auto;
  @media (min-width: 768px) {
    padding: 0 3.2rem;
  }
}

pre[class*="language"] {
  font-size: 1.6rem !important;
}


/**
 * atom-dark theme for `prism.js`
 * Based on Atom's `atom-dark` theme: https://github.com/atom/atom-dark-syntax
 * @author Joe Gibson (@gibsjose)
 */

/*
code[class*="language-"],
pre[class*="language-"] {
  color: #c5c8c6;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: "JetBrains Mono", Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #1d1f21;
}

:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7C7C7C;
}

.token.punctuation {
  color: #c5c8c6;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.keyword,
.token.tag {
  color: #96CBFE;
}

.token.class-name {
  color: #FFFFB6;
  text-decoration: underline;
}

.token.boolean,
.token.constant {
  color: #99CC99;
}

.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.number {
  color: #FF73FD;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #A8FF60;
}

.token.variable {
  color: #C6C5FE;
}

.token.operator {
  color: #EDEDED;
}

.token.entity {
  color: #FFFFB6;
  cursor: help;
}

.token.url {
  color: #96CBFE;
}

.language-css .token.string,
.style .token.string {
  color: #87C38A;
}

.token.atrule,
.token.attr-value {
  color: #F9EE98;
}

.token.function {
  color: #DAD085;
}

.token.regex {
  color: #E9C062;
}

.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
*/

/**
 * Monokai theme for Prism.JS
 *
 * @author Martijn Swaagman
 * @license MIT 2015
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.7 !important;
  font-weight: 300;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #222222;
}

:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.language-scss, .language-css {
  color: #948AE3 !important;

  .token.punctuation {
    color: #8B888F;
  }

  .token.operator,
  .token.atrule {
    color: #FC618D;
  }

  .token.atrule-line {
    color: #7BD88F;
  }

  .token.property {
    color: white;
  }

  .token.string {
    color: #FCE566 !important;
  }
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #778090;
}

.token.punctuation {
  color: #F8F8F2;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #FC618D;
}

.token.boolean,
.token.number {
  color: #948AE3;
}

.token.attr-name,
.token.function {
  color: #5AD4E6;
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #7BD88F;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #F8F8F2;
}

.token.string,
.token.atrule,
.token.attr-value {
  color: #FCE566;
}

.token.keyword {
  color: #FC618D;
}

.token.regex,
.token.important {
  color: #FD971F;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}


.fill-page {
  display: grid;
  place-content: center;
  position: relative;
  width: 100vw;
  height: calc(100vh - 6.4rem);

  .card {
    position: relative;
    background: white;
    padding: 4rem 6.4rem;
    border-radius: 1.6rem;
    box-shadow: 0 1rem 3.2rem rgba($color-grey-300, .1);
  }

  .image-container {
    border: 4px solid $color-primary-400;
    border-radius: 100%;
    display: grid;
    place-content: center;
    //box-shadow: 0 1rem 2rem rgba($color-primary-600, .3);
  }

  .image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
  }

  h1 {
    line-height: 1.2;
  }

  .message {
    margin: 2.4rem 0 3.2rem;
    text-align: center;

    p {
      color: rgba($color-grey-300, .7);
    }
  }
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.8rem;
  background-image: linear-gradient(to top, $color-primary 10%, $color-primary-400);
  border-radius: .8rem;
  box-shadow: 0 1.6rem 3.2rem rgba($color-primary-600, .3);
  color: white;
  transition: transform 200ms ease-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }

  &:active {
    transform: scale(0.997);
  }
}
